Hello <%= session[:current_user] %>

<p>
  <b> This is the workflows that you can start:<br/></b>
  <%@can_start_workflow_definitions.each do |can_start_workflow_definition| %>
      <%= link_to can_start_workflow_definition.name,  :controller=>'workflow', :action=>'start', :id=>can_start_workflow_definition.name %>
  <% end %>
</p>

<p>
  <b> This is the workflows that currently active:<br /> </b>
  <%@applicable_workflow_steps.each do |step| %>
      <%= link_to step.workflow_instance.workflow_definition.name + "&nbsp; step:" + step.workflow_step_definition.name, :controller=>'workflow', :action=>'run', :id=>step.id %>
      <br/>
  <%end%>


</p>